@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 245, 255;
  --drop-shadow-rgb: 205, 135, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 32;
    --drop-shadow-rgb: 150, 20, 255;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
